# Binaries for programs and plugins
/201*_*
*.exe
*.exe~
*.dll
*.so
*.dylib
bin/

# Test binary, build with `go test -c`
*.test
lint
coverage.txt
cov/

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

# virtual Python environments
venv/
